<ul class='suggestions'>
<li class="container-blue">
  <p><span>Categories</span></p>
</li>
  <%= render partial: "/partials/category", collection: @categories %>
</ul>
<div class="add-cat">
  <%= link_to "Add new category", new_category_path, class: 'submit-info' %>
</div>