<section class='categories'>
  <%= render partial: "/partials/category", collection: @categories %>
</section>
<button class='add-category'><%= link_to "Add new category", new_category_path %></button>